@media screen and (max-width: 1080px) {
    .facebook-subtitle {
        font-size: 20px;
        width: 350px;
    }

    .body-area {
        height: 79vh;
        display: flex;
        flex-direction: row;
        width: 900px;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 900px) {
    .facebook-subtitle {
        font-size: 20px;
        width: 350px;
    }

    .body-area {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        width: auto;
        min-width: 450px;
    }

    .heading-subheading {
        width: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }
}
