@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #eff2f5;
    --blue-color: #0766ff;
    --green-color: #43b72a;
    --white-color: #ffffff;
    --gray-color: #8b8d91;
}

body {
    font-family: poppins;
    background-color: var(--bg-color);
}

.bodyArea {
    height: 79vh;
    display: flex;
    flex-direction: row;
    width: 900px;
    margin: auto;
    align-items: center;
    gap: 50px;
}



.form {
    height: 300px;
    width: 330px;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
    gap: 12px;
    /* margin-bottom: 80px; */
    /* margin-right: 18px; */
}

input {
    font-size: 14px;
    padding: 15px;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
}

::placeholder {
    color: var(--gray-color);
}

.forgot-pass {
    font-size: 13px;
    color: #0766ff;
    margin: auto;
    text-decoration: none;
}

.forgot-pass:hover {
    text-decoration: underline;
}

.login-btn {
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
}

.facebook {
    color: var(--blue-color);
    font-size: 45px;
    margin-top: -140px;
}

.facebok-subtitle {
    font-weight: 400;
    font-size: 25px;
}

.create-btn {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    background-color: var(--green-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    width: 60%;
    margin: auto;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.create-page-para {
    font-size: 12px;
}

.slidely-bold {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.slidely-bold:hover {
    text-decoration: underline;
}


/* ---------footer section ----------------*/

.footerArea {
    background-color: var(--white-color);
    height: 20vh;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-1 {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    gap: 10px;
    list-style: none;
    width: 900px;
    margin: auto;
    align-items: center;
    color: var(--gray-color);
}

.section-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: flex-start;
    list-style: none;
    width: 900px;
    gap: 5px;
    margin: auto;
    color: var(--gray-color);
}
