@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #eff2f5;
    --blue-color: #0766ff;
    --green-color: #43b72a;
    --white-color: #ffffff;
    --dark-gray-color: #969696;
    --light-gray-color: #d4d4d4;
}

body {
    font-family: poppins;
    background-color: var(--bg-color);
}

.bodyArea {
    height: 79vh;
    display: flex;
    flex-direction: row;
    max-width: 900px;
    /* min-width: 700px; */
    margin: auto;
    align-items: center;
    gap: 50px;
    padding: 30px;
}

.heading-subheading {
    width: auto;
    display: flex;
    flex-direction: column;
}

.facebook {
    color: var(--blue-color);
    font-size: 45px;
}

.facebook-subtitle {
    font-weight: 400;
    font-size: 24px;
}

.form {
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
    gap: 12px;
    /* margin-bottom: 80px; */
    /* margin-right: 18px; */
}

input {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border: 1px solid var(--light-gray-color);
    border-radius: 5px;
}

::placeholder {
    color: var(--dark-gray-color);
    font-size: 16px;
}

.forgot-pass {
    font-size: 13px;
    color: #0766ff;
    margin: auto;
    text-decoration: none;
    position: relative;
}

.forgot-pass:hover {
    text-decoration: underline;
}

.forgot-pass::after {
    content: "";
    width: 330px;
    height: 1px;
    background-color: var(--light-gray-color);
    position: absolute;
    top: 40px;
    right: -96px;
}

.login-btn {
    font-size: 18px;
    height: 48px;
    font-weight: 700;
    padding: 0 16px;
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
}

.create-btn {
    font-size: 15px;
    font-weight: 600;
    padding: 0 16px;
    background-color: var(--green-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;

    height: 48px;
    margin: auto;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.create-page-para {
    font-size: 12px;
}

.slidely-bold {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.slidely-bold:hover {
    text-decoration: underline;
}

/* ---------footer section ----------------*/

.footerArea {
    background-color: var(--white-color);
    height: 21vh;
    padding: 25px;
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.section-1 {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    gap: 10px;
    list-style: none;
    width: 900px;
    margin: auto;
    align-items: center;
    color: var(--dark-gray-color);
    position: relative;
}

.section-1::after {
    content: "";
    width: 900px;
    position: absolute;
    height: 1px;
    top: 25px;
    left: 0px;

    background: var(--light-gray-color);
}

.section-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: flex-start;
    list-style: none;
    width: 900px;
    gap: 5px;
    margin: auto;
    color: var(--dark-gray-color);
}
